body {
 font-family: Verdana, Helvetica, sans-serif;
 background-color: #FFFFFF;
 padding-top: 45px;	 
 background: #EEEEEE;
 }
 
 .diff {
	color:#FF0000;
 }
 
 .maxvalue {
	color:#00CC00;
 }
 
 .lowervalue {
	color:#FF0000;
}
 
 .reportdiv {
	width:85%;
	padding-top:10px;
	padding-bottom:15px;
}

.reporttable {
	width:auto;
	margin-top:15px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#implementation_filter {
  width: 256px;
  margin-left: auto ;
  margin-right: auto ;
}

.header {
	background: #444444;
	color:#FFFFFF;
    line-height: 40px;	
	padding:5px;
	text-align:center;
}
 
.firstcolumn {
	padding-left:20px; 
	padding-top:5px; 
	padding-bottom:5px; 
	font-size: 12px;
}

.valuezeroleftdark
{
 font-size:12px;
}

.reportrow
{
 font-size:12px;
}

.fieldcaption
{
 font-size:12px;
}

.value
{
 font-size:12px;
}

.valuezeroleft
{
 font-size:12px;
}

.reportrowb
{
 font-size: 12px;
}

a:link {  text-decoration:none !important; }
a:visited {  text-decoration:none !important; }
a:focus {  text-decoration:none !important; }
a:hover {  text-decoration:none !important; }